button {
    font-family: verdana;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    color: darkolivegreen;
    
    width: 110px;
    padding : 7px 8px 7px 32px;
    border: 1px solid darkolivegreen;
    border-radius: 7px;
    margin-top: 8px;
    background-position: 8px;
    background-repeat: no-repeat;
}

button.login {
    background-image: url(imej/arrow.png);
}

button.batal {
    background-image: url(imej/delete.png);
}

button.import {
    background-image: url(imej/import.png);
}

button.tambah {
    background-image: url(imej/add.png);
}

button.update {
    background-image: url(imej/refresh.png);
}

button.cetak {
    background-image: url(imej/printer.png);
}

button.papar {
    background-image: url(imej/monitor.png);
}

button.cari {
    background-image: url(imej/search.png);
}