body {
    background-image: url(imej/back.jpg);
    margin: 0px;
}

h5 {
    font-family: verdana;
    font-size: 16px;
    color: black;
}

p.arahan {
    font-family: verdana;
    font-size: 14px;
    color: black;   
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    top: 140px;
    width: 100%;
    height: 45px;
    padding: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.gambar {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

figure {
    margin: 20px 0px 0px 0px;
}

figcaption {
    font-family: verdana;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    background-color: white;
}

img.home {
    border: 2px solid black;
    width: 230px;
    box-shadow: 15px 15px 6px 0px rgba(96, 96, 96, 0.7);
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

ul li {
    display: block;
    float: left;
}

li ul {
    display: none;
}

ul li a {
    font-family: verdana;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: black;
    text-decoration: none;

    width: 115px;
    padding: 8px 10px;
    border: 3px solid black;
    border-radius: 25px;
    background-color: rgba(206, 152, 88, 0.63);;
    margin: 4px 25px 4px 0px;
    display: block;
    box-shadow: 7px 7px 6px 0px rgba(0, 0, 0, 0.56);
}

ul li a:hover {
    color: black;
    background-color: yellow;
}

li:hover ul {
    display: block;
    position: absolute;
}

li:hover li {
    float: none;